/************************************************************************/
/******************************** GLOBAL ********************************/
/************************************************************************/
*:not(.fab) { font: 0.85rem/1.4rem "Lucida Console", Monaco, monospace !important; }
html, body { background: #461899; margin: 0; padding: 0; box-sizing: border-box; }
.container {
    width: 460px; height: 400px;
    background-repeat: no-repeat;
    background-position: 15px 10px;
    background-size: 200px 62px;
}
.content { padding: 80px 15px 15px 15px; }
a:link, a:active, a:visited { color: #5698ae; text-decoration: none;}
a:hover {color: #4ba9af; text-decoration: underline;}
h1, h2, h3, h4, h5, h6 { color: #d32cf1; }

.center-vertical { display: flex; justify-content: center; align-items: center; }

/************************************************************************/
/********************************* TABS *********************************/
/************************************************************************/

.tab-button-group { overflow: hidden; }
.tab-button {
    background: #ccc;
    border: none;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    transition: 0.3s;
}
.tab-button:hover { background-color: #ddd; }
.tab-button:active, .tab-button.active { background-color: #f1f1f1; }
div.tab {
    background-color: #f1f1f1;
    padding: 10px 15px;
    overflow: auto;
}
div.tabSection { float: none; margin: 10px 0 25px 0; clear: both; }




/************************************************************************/
/******************************** BUTTONS *******************************/
/************************************************************************/

.btn {
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 0;
    box-shadow: 2px 2px #41d728;
    padding: 5px 6px;
    background-color: #d32cf1;
    color: #eee0f7;
    font-size: 93%;
}
.btn:hover, .btn:active { background: #6ebff9; border: none;text-shadow: 0; }
.attacks-btn {
    margin-right: 7px;
    margin-bottom: 7px;
    float: left;
}

.closeBtn {
    background: #9cc;
    padding: 5px 9px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.closeBtn:hover {
    background: #ddd;
    cursor: pointer;
}
.fab { font-size: 200%; }



/************************************************************************/
/********************************* FORMS ********************************/
/************************************************************************/

#status {
    background: #9cc;
    position: absolute;
    top: 0;
    left: auto;
    transition: 0.3s;
    left: 50%;
    margin-left: -25px;
    padding: 4px 10px;
    display: none
}
*:focus { outline: none; }

/* soundVolume range slider */
input[type=range] { margin-top: 8px; }



/************************************************************************/
/********************************* DATA *********************************/
/************************************************************************/


/* table */
table {
    border-collapse: collapse;
}
table tr {
    border-spacing: 0;
    border: none;
}

.data-field {
    display: inline-block;
    background: #9cc;
    color: #461899;
    text-align: center;
    padding: 2px 5px;
    margin: 1px 0;
    border: none;
}
td span.data-field {
    text-align: right;
}
