/*  BATTLE
******************************************************************************/
/* shadow box with background */
.shadow-box-outer {
    box-sizing: border-box;
    z-index: 9999999999999;
}
.shadow-box-inner {}




/*  ATTACKS
******************************************************************************/
#battle_projectile, #explosion_sprite_container {
    display: block;
    top: -300px;
    left: -300px;
    z-index: 99999999999999;
    position: fixed;
}
#battle_projectile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d243ec;
    background: center center no-repeat;
}
#explosion_sprite_container {
    height: 300px;
    width: 300px;
}
#explosion_sprite {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* animation: monster_keyframes 0.4s steps(3) infinite; */
}
#explosion_sprite_inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: left center no-repeat;
    /* animation: explosion_keyframes 0.6s steps(8) infinite; */
}
@keyframes explosion_keyframes {
    100% {
        background-position: -2000px;
    }
}
.tally_stats {
    z-index: 2147483645;
    position: relative;
    width: 230px;
    height: 65px;
    top: 240px;
    left: 0;
    display: none;
}
.monster_stats {
    z-index: 2147483645;
    position: relative;
    width: 230px;
    height: 65px;
    top: 0px;
    left: 80px;
    display: none;
}
.tally_stats_bars,.monster_stats_bars {
    position: absolute;
    z-index: 2147483645;
    top: 0px;
    left: 0px;
}
.tally_stats_table, .monster_stats_table {
    font: 12px/16px "Monaco", "Andale Mono", "Courier New", sans-serif !important;
    /* display: none; */
    position: absolute;
    z-index: 2147483630;
    width: 105px;
    padding: 8px;
    padding-top: 18px;
    top: 30px;
    left: 42px;
    background: #282c35;
    color: #fff;
    /* display: hidden; */

}
/* .monster_stats {
    transform: translateX(25%);
    top: 0;
    left: 0;
} */

table.stats-table {
    width: 100% !important;
    font: 11px/12px "Monaco", "Andale Mono", "Courier New", sans-serif !important;
    border-collapse: separate !important;
    border-spacing: 2px !important;
    padding-right: 4px !important;
    z-index: 2147483647 !important;
}
.stats-table tr td { font: 11px/12px "Monaco", "Andale Mono", "Courier New", sans-serif !important; }
table.stats-table tr:hover {
    cursor: crosshair;
}
table.stats-table tr td.stats-number-column {
    width: 20% !important;
    text-align: right !important;
    line-height: 12px !important;
}
table.stats-table tr td.stats-number-column .divider {
    padding: 0 1px 0 3px;
}


.stat-blink {
  animation: blinker .75s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}


/*  STAT BARS
******************************************************************************/

svg.stats-display { width:230;  }

svg.stats-display .stat-bars { stroke-width:0; transform:translateX(30px); }
svg.stats-display .stat-bar-health { fill:#6ece41; }
svg.stats-display .stat-bar-health-bg { fill:#494949; }
svg.stats-display .stat-bar-stamina { fill:#189aed;  }
svg.stats-display .stat-bar-stamina-bg { fill:#494949; }
svg.stats-display .stat-bar-experience { fill:#ff9900; }
svg.stats-display .stat-bar-experience-bg { fill:#494949; }
svg.stats-display .stat-bar-circle {
    fill: #272c34;
    stroke-width: 5px;
    stroke: #d243ec;
    stroke-dasharray: 138;
    stroke-dashoffset: 138; /* 2 * 3.14 * radius */
    stroke-miterlimit: round;
    transition: stroke-dashoffset 750ms linear;
}
/* .stat-bar-circle:hover {
    stroke-dashoffset: 0;
} */
svg.stats-display .stat-bar-circle-text { fill:white; font: 14px "Monaco", "Andale Mono", "Courier New", sans-serif; }



/*  GROUND
******************************************************************************/

#battle-ground {
    position: fixed;
    z-index:9999999;
    /* top:70%; */
    bottom: 170px;
    text-align: center;
    display: none;
    width:105%;
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    display: table-cell;
}
#battle-ground svg {
    margin: 0 auto;
}




/*  CONSOLE
******************************************************************************/
#battle-console {
    display: none;
    position: fixed;
    width: 40%;
    min-width: 520px;
    max-width: 650px;
    margin-left: -14%;
    left: 45%;
    height: 135px;
}
#battle-console-inner {
    box-sizing: border-box;
    width: 100%;
    height: 140px;
    box-shadow: 5px 5px #6ece41;
    border: 8px solid #d243ec;
    background-color: #272c34;
    color: #8f96a2;
}
#battle-console-stream {
    box-sizing: border-box !important;
    font: 0.9em/1.4em "Lucida Console", "Monaco", monospace !important;
    padding: 10px 0px 0 10px !important;
    height: 120px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    scrollbar-width: none;
}
.tally_log_line { font: 0.9em/1.4em "Lucida Console", "Monaco", monospace !important; width:100% }
/* weird scrollbar issue */
#battle-console-stream::-webkit-scrollbar { background: rgba(0, 0, 0, 0); }
#battle-console-stream::-webkit-scrollbar-corner { background: rgba(0, 0, 0, 0); }
/* text colors */
#battle-console-stream .text-green, .text-health { color: #6ece41; }
#battle-console-stream .text-ltblue { color: #18c8d8; }
#battle-console-stream .text-blue, .text-defense { color: #189aed; }
#battle-console-stream .text-purple, .text-tally { color: #fd5be9; }
#battle-console-stream .text-yellow { color: #f5ac39; }
#battle-console-stream .text-orange, .text-attack { color: #f58b1a; }
#battle-console-stream .text-red, .text-stamina { color: #df4a3b; }
#battle-console-stream .text-dkgrey { color: #272c34; }
#battle-console-stream .text-grey { color: #5b636f; }
#battle-console-stream .text-ltgrey { color: #8f96a2; }
/* blinking cursor */
#battle-console-stream:last-child:after {
    content: "";
    /* position: absolute; */
    top: 0;
    right: -10px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: #abaeb2;
    vertical-align: top;
    width: 10px;
    /* Set height to the line height of .text */
    height: 16px;
    /*
    Animation paramaters:
    blink = animation-name,
    1s = animation-duration,
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
.noanimation {
    background-color: #18c8d8;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}



/*  BATTLE OPTIONS
******************************************************************************/
.battle-options-row {
    margin: 6px 0 0 0;
    overflow: auto;
}


.battle-options {
    /* box-sizing: border-box;
    display:inline-block; */
    padding: 2px 4px;
    color: #eee0f7;
    font-size: 88%;
    margin: 0 8px 8px 0;
    float: left;
    background-color: #f58b1a;
    box-shadow: 2px 2px #df4a3b;
}
.battle-options:hover {
    cursor: pointer;
    background-color: #d69b6b;
}

.battle-options-defense {
    background-color: #189aed;
    box-shadow: 2px 2px #6ece41;
}
.battle-options-defense:hover {
    background-color: #4eaae5;
}

.battle-options-esc {
    background-color: #8f96a2;
    box-shadow: 2px 2px #5b636f;
    margin: 0 0 8px 0;
}
.battle-options-esc:hover {
    cursor: pointer;
    background-color: #747d8b;
}

.attack-icon {
    display: inline-block;
    width: 17px; height: 17px;
    padding: 1px 2px 1px 0;
    vertical-align: middle;
    background-repeat: no-repeat;
}



/*  BATTLE EFFECTS
******************************************************************************/
#battle-background {
    font: 12px/16px Courier, monospace;
    position: absolute;
    display: block;
    top: -5%;
    left: -5%;
    width: 120%;
    height: 400%;
    z-index: 20;
    color: rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .1);
    /* color: rgba(255,255,255,.3);
    background-color: rgba(0,0,0,.1); */
}
.battle-background-clear {
    z-index: -100 !important;
    display: none !important;
}

@-webkit-keyframes large-rumble {
    0% { transform: translate(0, 0) rotate(0); }
    25% { transform: translate(2px, 0px) rotate(-1deg); }
    50% { transform: translate(0px, -2px) rotate(0deg); }
    75% { transform: translate(-2px, 0px) rotate(1deg); }
    100% { transform: translate(0px, 2px) rotate(0deg); }
    0%, 100% { transform: translate(0, 0) rotate(0); }
}
.large-rumble, .large-rumble-hover:hover, .large-rumble-active:active {
    /* transform-origin: center center; */
    animation: large-rumble .09s infinite linear;
}
@keyframes medium-rumble {
    0% { transform: translate(0, 0) rotate(0); }
    25% { transform: translate(1px, 0px) rotate(-.5deg); }
    50% { transform: translate(0px, -1px) rotate(0deg); }
    75% { transform: translate(-1px, 0px) rotate(.5deg); }
    100% { transform: translate(0px, 1px) rotate(0deg); }
    0%, 100% { transform: translate(0, 0) rotate(0); }
}
.medium-rumble, .medium-rumble-hover:hover, .medium-rumble-active:active {
    /* transform-origin: center center; */
    animation: medium-rumble .09s infinite linear;
}
@keyframes small-rumble {
    0% { transform: translate(0, 0) rotate(0); }
    25% { transform: translate(.5px, 0px) rotate(-.25deg); }
    50% { transform: translate(0px, -.5px) rotate(0deg); }
    75% { transform: translate(-.5px, 0px) rotate(.25deg); }
    100% { transform: translate(0px, .5px) rotate(0deg); }
    0%, 100% { transform: translate(0, 0) rotate(0); }
}
.small-rumble, .small-rumble-hover:hover, .small-rumble-active:active {
    /* transform-origin: center center; */
    animation: small-rumble .09s infinite linear;
}





/*  BATTLE MONSTER CAPTURE
******************************************************************************/

.battle_monster_capture_wrapper {
    box-sizing: border-box;
    top: -500px;
    left: 55%;
    position: fixed;
    z-index: 2147483647;
    font: 22px/26px "Monaco", "Andale Mono", "Courier New", sans-serif;
    color: #fff;
}
.monster_capture_banner_top,
.monster_capture_banner_bottom,
.monster_capture_taxonomy,
.monster_capture_tracker,
.monster_capture_cage {
    position: fixed;
    left: 55%;
    /* transform: translateX(-50%); */
    top: -500px;
    padding: 10px 20px;
    z-index: 2147483647;
    background-color: transparent;
}
.monster_capture_tracker {
    width: 290px;
    height:80px;
}
.battle_monster_capture_wrapper svg {
    background-color: transparent;
}
.monster_capture_banner_top,.monster_capture_banner_bottom {
    width: 460px;
    height: auto;
}
.monster_capture_banner_bottom {
    cursor: pointer;
}
.monster_capture_cage {
    width: 400px;
    height: 320px;
    z-index: 21474836;
}


.monster_capture_taxonomy {
    font-size: 0.9rem;
    padding: 0 0 30px 0;
}
.monster_capture_taxonomy span {
    float: left;
    background: rgba(0, 0, 0, .0);
    height: 30px;
}
.monster_capture_taxonomy span.tier-text {
    padding: 6px 8px 4px 0;
}
.monster_capture_taxonomy span.tier1 {
    padding-left: 10px;
}
.monster_capture_taxonomy svg {
    float: left;
    height: 30px;
    margin: 0;
    padding: 0 !important;
}
