/*  BATTLE
******************************************************************************/
/*  CONSOLE
******************************************************************************/
#battle-console {
    display: none;
    background-color:#685f68;
    padding: 10px;
    position: absolute;
    width: 30%;
    height:100px;
    margin-left:-15%;
    left:50%;
    bottom: 3%;
}
#battle-console-stream {
    background-color:#663366;
    padding: 10px;
    height:80px;
    color: #cb7623;
    font: 0.9em/1.4em "Lucida Console", Monaco, monospace;
}
#battle-console-stream {
    overflow: scroll;
}
