/*  BATTLE
******************************************************************************/
/*  GLOBAL BOXES W/SHADOWS
******************************************************************************/
/* shadow box with background */
.shadow-box-outer {
    box-sizing: border-box;
    z-index: 9999999999999;
}
.shadow-box-inner {
    width: 100%;
    box-shadow: 5px 5px #41d728;
    border: 8px solid #d32cf1;
    background-color: #282c35;
    color: #abaeb2;
}
/*  CONSOLE
******************************************************************************/
#battle-console {
    display: none;
    position: fixed;
    width: 40%;
    margin-left: -20%;
    left: 50%;
    bottom: 3%;
    height: 100px;
}
#battle-console-inner {
    box-shadow: #41d728;
    border-color: #d32cf1;
    background-color: #282c35;
    width: 100%;
}
#battle-console-stream {
    background-color: #282c35;
    box-sizing: border-box;
    font: 0.9em/1.4em "Lucida Console", Monaco, monospace;
    padding: 10px;
    height: 100px;
    overflow: scroll;
}
/* weird scrollbar issue */
#battle-console-stream::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0);
}
#battle-console-stream::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}
/* text colors */
#battle-console-stream .text-tally {
    color: #fd5be9
}
#battle-console-stream .text-hp {
    color: #83ff60
}
#battle-console-stream .text-mp {
    color: #6ebff9
}
#battle-console-stream .text-xp {
    color: #fec875
}
/* blinking cursor */
#battle-console-stream:last-child:after {
    content: "";
    /* position: absolute; */
    top: 0;
    right: -10px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: #abaeb2;
    vertical-align: top;
    width: 10px;
    /* Set height to the line height of .text */
    height: 16px;
    /*
    Animation paramaters:
    blink = animation-name,
    1s = animation-duration,
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
.noanimation {
    background-color: #990000;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
