

.tally {
    overflow-x: visible; /* fix for websites */
    box-sizing: border-box;
    font: 12px/16px "Monaco", "Andale Mono", "Courier New", sans-serif !important;
}

#tally, #tyd, .tally_demo_window {
    position: absolute;
    display: block;
    z-index: 9999999999999;

}

#tyd {
    height: 58px; width: 100%; max-width: 100%; background: rgba(0,0,0,.7); color: #eee;
    padding-left: 220px;
    left: 0; bottom: 0px; position: fixed; opacity: 1; font: 11px/15px "Lucida Console", Monaco, monospace;
    overflow-y: scroll;
}
/* apply a "hand" abd "closed-hand" cursor during drag operation. */
.grabbable { cursor: move; /* fallback if grab cursor is unsupported */ cursor: grab; cursor: -moz-grab; cursor: -webkit-grab; }
.grabbable:active { cursor: grabbing; cursor: -moz-grabbing; cursor: -webkit-grabbing; }


.data-field { display: inline-block; background: #000; padding: 5px; }




.tally_demo_window {
    position: fixed;
    /* display: none;  */
    left: 240px; height: 40px;
    /* margin: auto;  */
    padding: 12px 12px 12px 15px;
    font: 15px/18px "Monaco", "Andale Mono", "Courier New", sans-serif;
    color: #fff; background: #252525;
    /* animate from bottom */
    bottom: 0px;
    transition: all 0.5s;
}
.tally_demo_window_hidden { bottom:-40px; }
.tally_demo_window div { float: left; margin-right: 10px;}





.tally_consumable_wrapper{
    z-index: 99999999999;
}
.tally_consumable_inner {
    position: absolute;
    cursor: pointer;
}
.tally_consumable_inner img {
    width: 100px;
    cursor: pointer;
}


.tally_badge {
    z-index: 99999999999;
    width: 100px;
    height: 100px;
    position: absolute;
    top:-500px;
    left:-500px;
    cursor: pointer;
}
.tally_badge_inner img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}







/* CLICK ANIMATION */

#tally_click_visual {
    position: absolute;
    z-index: 9999999999999;
    display: none;
    height: 20px;
    width: 20px;
    top: -500px;
    left: -500px;
    color: #000;
    font: 20px/22px "Comic Sans MS", cursive, sans-serif;
    font-smooth: never;
    -webkit-font-smoothing: none;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
/* hide everything from printing */

@media print {
    .no-print, .no-print * {
        display: none !important;
        height: 0;
    }
}
